extends layout

block content

  #compName
    .container
      .starter-template
        h1 Selamat datang di KaraokeBattle!!!

        p(class='lead')
          | Karaokebattle adalah kompetisi karaoke 3 babak
          br
          | Masukkan nama kompetisi untuk memulai
        input#txtCompName(type='text', placeholder='Eurovision 20150' class='form-inline')
        button#btnCreate(class='btn btn-default' style='margin-left: 10px') Buat kompetisi

    .container(style='margin-top: 75px')
      .row
        .col-md-4
          h2 Babak Bebas (1)
          p.
            Pada babak ini setiap kontestan bebas memilih lagu apapun yang ada di situs karaokeparty.
        .col-md-4
          h2 Babak Duet (2)
          p.
            Pada babak ini setiap kontestan akan dipasangkan dengan kontestan yang lain secara acak. Pasangan ini kemudian akan menyanyikan lagu bertipe duet. Poin yang didapat kedua kontestan adalah sama.
        .col-md-4
          h2 Babak Final (3)
          p.
            Pada babak ini para kontestan akan menyanyi dengan urutan poin terbawah terlebih dahulu. Lagu yang bisa dipilih pada babak ini dibatasi.

  #singNum
    p Masukkan jumlah peserta
    input#txtSingerNum(type='text', placeholder='2')
    button#btnSingerNum(class='btn btn-default' style='margin-left: 10px') Lanjut

  #singerName
    p Daftarkan nama peserta
    #inputName
    button#btnSingerName(class='btn btn-default' style='margin-top: 10px') Selesai

  #klasemen
    h3 Kompetisi klasemen
    table.table
      thead
        th Nama
        th Babak 1 Bebas
        th Babak 2 Duet
        th Babak 3 Panas
        th Total
      tbody

  #babak1
    p Masukkan nilai babak 1
    #babak1score
    button#btnBabak1(class='btn btn-default' style='margin-top: 10px') Lanjut babak 2

  #babak2
    p Masukkan nilai babak 2
    #babak2score
    button#btnBabak2(class='btn btn-default') Lanjut babak 3

  #babak3
    p Masukkan nilai babak 3
    #babak3score
    button#btnBabak3(class='btn btn-default') Selesaikan

  #win
    h3 Selamat kepada ... yang telah memenangkan kompetisi ... kali ini
