extends layout

block content

  h1 Selamat datang di KaraokeBattle!!!

  #compName
    p.
      Masukkan nama kompetisi kali ini
    input#txtCompName(type='text', placeholder='Eurovision 20150')
    button#btnCreate Buat kompetisi

  #singNum
    p Berapa banyak peserta
    input#txtSingerNum(type='text', placeholder='0')
    button#btnSingerNum Lanjut

  #singerName
    p Daftarkan nama peserta
    #inputName
    button#btnSingerName Selesai

  #klasemen
    h3 Kompetisi klasemen
    table
      thead
        th Nama
        th Babak 1 Bebas
        th Babak 2 Duet
        th Babak 3 Panas
        th Total
      tbody

  #babak1
    p Masukkan nilai babak 1
    #babak1score
    button#btnBabak1 Lanjut babak 2

  #babak2
    p Masukkan nilai babak 2
    #babak2score
    button#btnBabak2 Lanjut babak 3

  #babak3
    p Masukkan nilai babak 3
    #babak3score
    button#btnBabak3 Selesaikan

  #win
    h2 Selamat kepada ... yang telah memenangkan kompetisi ... kali ini
